.App {
  background-color: lightcoral;
}

.nav-bar-style {
  background-color: darkgray;
  display: flex;
  justify-content: space-between;
}

.logo {
  text-align: left;
  margin: 20px 0px 20px 10px;
  padding: 5px 5px;
  user-select: none;
}

.ul-style {
  display: flex;
  margin: 20px 10px 20px 0px;
  align-items: center;
  list-style: none;
  gap: 20px;
}

/* Navigation line items */
.nav-link {
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: darkgray;
}

/* Add a hover effect */
.nav-link:hover {
  color: black;
  background-color: white;
}

.todo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
